==
<!DOCTYPE html>
<html lang="th">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>minoraircraft ถวายความอาลัย</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <link href="{{ [
            'assets/less/landing.less'
    ]|theme }}" rel="stylesheet"> 
  
  </head>
  <body class="body--2">

    
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12">
    <div class="intro">
        <div class="row intro__row align-items-center">
            <div class="col-12 col-md-5 col-lg-6 text-lg-right">
                <figure class="intro__figure intro__figure--2">
                    <img class="intro__image img-fluid" src="{{ 'assets/images/landing/r9.png'|theme }}" alt="" />

                </figure>
            </div>
            <div class="col-12 col-md-7 col-lg-6">
                <div class="intro__content intro__content--2">
                                          

    <h4 class="intro__subtitle intro__subtitle--1">
   ปวงข้าพระพุทธเจ้า ขอน้อมเกล้าน้อมกระหม่อม
    </h4>

<h4 class="intro__subtitle intro__subtitle--1" style="margin-top:10px;">
  รำลึกในพระมหากรุณาธิคุณหาที่สุดมิได้
    </h4>

        <div class="intro__line">
        <img class="img-fluid" src="{{ 'assets/images/landing/line_r9.png'|theme }}" alt="" />
    </div>
    
    <p>
        ข้าพระพุทธเจ้า<wbr>คณะกรรมการ ผู้บริหาร และพนักงาน
        <span class="company-name"  style="margin-top:10px;"><img class="logo" src="{{ 'assets/images/logo_mobile.png'|theme }}" alt="mahl-logo" ></span>
    </p>
                    <div class="intro__footer">
    <div class="intro__button intro__button--2 button--alone">
        <a class="mult" href="{{ '/home'|app }}">เข้าสู่หน้าหลัก</a>
        <a href="{{ '/home'|app }}">Enter Site</a>
        
    </div>
</div>                </div>
            </div>
        </div>
    </div>
</div>      </div>
    </div>

  </body>
</html>