[viewBag]
==
{% set item = aircraftGallery.post %}
{% set galleryId = "gallery-aircraft" ~ item.id %}
{% set key = 'gallery_images' %}
{% if item[key].count %}    
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <div class="pswp__ui pswp__ui--hidden">

                <div class="pswp__top-bar">

                    <div class="pswp__counter"></div>

                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                    <button class="pswp__button pswp__button--share" title="Share"></button>

                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                          <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div> 
                </div>
                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                </button>
                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                </button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>
        </div>
    </div>
<div class="row">
    <div class="col-xs-12">
        <br/>
        <div class="aircraft-gallery">
            
            {% for i, image in item[key] %}
            <figure itemprop="associatedMedia">
                <a href="{{ image.path }}" itemprop="contentUrl" data-size="1920x1080">
                    <img src="{{ image.thumb(200,150, {mode:'crop'}) }}" itemprop="thumbnail" alt="{{ image.description }}" />
                </a>
                <figcaption itemprop="caption description">{{ image.description }}</figcaption>
            </figure>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}