.about {
    .about-contentbox {
        height: 295px;
    }

}

.preview-aircraft {
    .list-aircraft {
        .pic-aircraft {
            width: 260px;
        }
    }
}

.carousel {
    .carousel-inner {
        height: 380px;
    }
}

.aircraft-page {
    .features-list {
        .feature-box {
            .image {
                img {
                    height: 175px;
                }
            }
        }
    }
}