.about {
    .about-img {
        width: 35%;
        height: 245px;
    }
    
    .about-contentbox {
        width: 65%;
        height: 245px;
    }
}

.preview-aircraft {
    .list-aircraft {
        .pic-aircraft {
            width: 200px;
        }
    }
}

.aircraft-page {
    .features-list {
        .feature-box {
            width: 33.33333333%;
            .image {
                img {
                    height: 142px;
                }
            }
        }
    }
    
    .contact-us {
        .address {
            .address-box {
                min-height: 165px;
            }
    
        }
    }

}

.carousel {
    .carousel-inner {
        height: 310px;
    }
}


