@import "header-footer";
@import "variables";
@import "newspost";
@import "aircraft-page";

body {
    background-color: @bg-color;
    color: @primary-font-color;
    font-family: @primary-font;
    font-size: 14px;
    a {
        color: @link-font-color;
        &:hover {
            color: @link-font-hover-color;
        }
    }
}

h1,h2,h3 {
  font-family: @secondary-font;
  color: @secondary-font-color;
  a {
      color: @secondary-font-color;
      &:hover {
          text-decoration: none;
          color: @secondary-font-color;
      }
  }
}



.post-list {
    .newsthumb {
        border-left: solid 8px @box-highlight-color;
        padding: 10px;
        height: 180px; 
        width: 25%;
        margin-bottom: 10px;
        background-color: @box-image-bg-color;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .info {
      font-size: 70%;
    }  
    .contentbox { 
        position: relative;
        box-shadow: 0px 0px 20px 0px rgb(10, 10, 10) inset;
        -moz-box-shadow: inset 0px 0px 20px 0px rgb(10, 10, 10);
        -webkit-box-shadow: inset 0px 0px 20px 0px rgb(10, 10, 10);
        background-color: @box-bg-color;
        width: 100%;
        margin-bottom: 20px;
        padding: 0px 20px 20px 20px;
        h3 {
            padding-top: 10px;
            padding-bottom: 5px;
            margin: 0;
            text-overflow: ellipsis;
            font-size: 20px;
            white-space: nowrap;
            overflow: hidden;
            color: @link-font-color;
            a {
                color: @link-font-color;
                &:hover {
                    color: @link-font-hover-color;
                }
            }
        }
        .content {
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: 14px;
        }
        .read-more {
            float: right;
        }
    }
    

    
}

.about {
    margin-top: 20px;
    margin-bottom: 20px;
    .about-img {
        width: 100%;
    }
    
    .about-contentbox {
        padding: 0 10px 10px 10px;
        width: 100%;
        background-color: @box-bg-color;
    }

}

.subscribe {
    margin-top: 23px;
    
    .subscribe-head {

        padding: 10px 15px 10px 15px;
        margin-top: 5px;
        background: #9E0A09 url('../images/envelope.png') no-repeat right top;
        -webkit-border-top-right-radius: 10px;
        -webkit-border-top-left-radius: 10px;
        -moz-border-radius-topright: 10px;
        -moz-border-radius-topleft: 10px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        h3 {
            margin-top: 0px;
            margin-bottom: 0px;
        }
        
    }
    .subscribe-body {
        padding: 10px 15px 15px 15px;
        background-color: #ffffff;
        color: #000000;
        font-family: @secondary-font;
        -webkit-border-bottom-right-radius: 10px;
        -webkit-border-bottom-left-radius: 10px;
        -moz-border-radius-bottomright: 10px;
        -moz-border-radius-bottomleft: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        label {
            color: #333333;
            text-transform: uppercase;
            letter-spacing: 0.5px;
        }
        
        .btn-default{
            border: none;
            width: 100%;
            background-color: #333333;
            text-transform: uppercase;
            color: #fff;
            letter-spacing: 0.5px;
        }
        
    }
    
}

.preview-aircraft {
    .list-aircraft {
        /*
        background: -webkit-linear-gradient(#242424, #555555);
        background: -o-linear-gradient(#242424, #555555);
        background: -moz-linear-gradient(#242424, #555555);
        background: linear-gradient(#242424, #555555);
        */
        background-image: url('../images/header_bg.jpg');
        box-shadow: inset 15px 0px 10px -15px rgba(40, 40, 40, 0.8), inset -15px 0px 10px -15px rgba(40, 40, 40, 0.8), inset 0px -15px 10px -15px rgba(40, 40, 40, 0.8), 0 0 5px rgba(0, 0, 0, 0.8);
        -moz-box-shadow: inset 15px 0px 10px -15px rgba(40, 40, 40, 0.8), inset -15px 0px 10px -15px rgba(40, 40, 40, 0.8), inset 0px -15px 10px -15px rgba(40, 40, 40, 0.8), 0 0 5px rgba(0, 0, 0, 0.8);
        -webkit-box-shadow: inset 15px 0px 10px -15px rgba(40, 40, 40, 0.8), inset -15px 0px 10px -15px rgba(40, 40, 40, 0.8), inset 0px -15px 10px -15px rgba(40, 40, 40, 0.8), 0 0 5px rgba(0, 0, 0, 0.8);
        padding-bottom: 40px;
        margin-bottom: 20px;
        text-align: center;
        .pic-aircraft {
            padding-top: 40px;
            margin-left: 20px;
            width: 260px;
        }
    }
}


.underline {
    border-bottom: solid 2px @secondary-font-color;
    margin-bottom: 10px;
}

@media (min-width: 480px) { @import "480"; };
@media (min-width: 768px) { @import "768"; };
@media (min-width: 992px) { @import "992"; };
@media (min-width: 1200px) { @import "1200"; }; 
