.parts {

    
    .form-group {
        .input-group {
            border-color: @form-border-color;
            .input-group-addon {
                min-width: 80px;
                background-color: @box-bg-color;
                color: @secondary-font-color;
                border: none;
            }
        }
    }
}
