.parts {

    
    .form-group {
        .input-group {
            border-color: @form-border-color;
            .input-group-addon {
                min-width: 80px;
                background-color: @box-bg-color;
                color: @secondary-font-color;
                border: none;
            }
        }
    }
    .cessna-logo-container {
        text-align: center;
        .cessna-logo {
            width: 100px;
        }
    }
    .col-right {
        text-align: center;
        .cessna-logo-container {
            text-align: right;
            .cessna-logo {
                width: 170px;
                margin-top: 30px;
            }
        }
    }
}
