@primary-font: 'Tahoma';
@secondary-font: 'Racing Sans One','Impact';

@primary-font-color: #bbb;
@secondary-font-color: #fff;

@bg-color: #000;
@box-bg-color: #141414;

@box-highlight-color: #fff;
@box-image-bg-color:#232323;

@header_gradient_color1:#242426;
@header_gradient_color2:#1c1c1c;
