@primary-font: 'Roboto';
@secondary-font: 'Source Sans Pro','Impact';

@primary-font-color: #dddddd;
@secondary-font-color: #ffffff;

@link-font-color: #3ebfff;
@link-font-hover-color: #7cd3ff;

@button-hover-font-color: #000000;
@button-hover-bg-color: #eeeeee;

@bg-color: #000000;
@box-bg-color: #232323;

@box-highlight-color: #3685CA;
@box-image-bg-color: #232323;

@header_gradient_color1: #242426;
@header_gradient_color2: #1c1c1c;

@menu_gradient_color1: #131315;
@menu_gradient_color2: #1b1b1d;

@news-list-bullet-color: #929292;

@footer-line-color: #555555;
@footer-font-color: #838383;

@form-border-color: #626262;

