.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eeeeee;
}

body {
    padding-top: 50px;
    background-color: black;
    color: white;
}
  
header#layout-header .navbar-brand {
  padding-left: 200px;
  background-image: url('../images/mahl_logo.png');
  background-size: auto 80%;
  background-repeat: no-repeat;
  background-position: 7px 50%;
}

.navbar-minor {
    background-color: black;
    color: white;
}

.navbar-menu {
    border-radius: 15px;
    background-color: #404040;
    padding: 3px;
    margin-top: 5px;
}

.navbar-nav > li > a, .navbar-brand {
    padding-top:4px !important; 
    padding-bottom:0 !important;

}


.navbar-menu a {
    color:white;
}

.navbar-minor .navbar-nav > .active > a,
.navbar-minor .navbar-nav > .active > a:hover,
.navbar-minor .navbar-nav > .active > a:focus {
  color: #2a53ff;
}
.navbar-minor .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-minor .navbar-nav > li > a:hover,
.navbar-minor .navbar-nav > li > a:focus {
  color: #007eff;
  background-color: transparent;
}

.post-list {
    list-style-type: none;
}

.post-list li h3 {
  font-family: impact;
}
.post-list .info {
  font-size:70%;
}

h3 {
  font-family: impact;
  color: #337ab7;
}

.underline {
    border-bottom: solid 2px #337ab7;
    margin-bottom: 10px;
}

footer {
    border-top: solid 1px #555555;
    margin-top:20px;
    padding-top:10px;
    font-size:80%;
    color:#838383;
}
