[viewBag]
==
<div class="row">
      <div class="col-sm-12">
          <div class="about-img pull-left hidden-xs hidden-sm">
            <img class="img-responsive" src="{{ 'assets/images/main.jpg'|theme }}">
          </div>
          <div class="about-contentbox pull-left">
              <div class="underline"><h2>MAHL - Sales Representative for Cessna Aircraft in Thailand</h2></div>
              <div class="image visible-xs-block visible-sm-block"><center><img class="img-responsive" src="{{ 'assets/images/main.jpg'|theme }}"></center></div>
              {% content 'home.htm' %}
          </div>
      </div>
</div>