[viewBag]
==
<div class="row">
      <div class="col-sm-12">
          <div class="about-img pull-left hidden-xs">
            <img class="img-responsive" src="{{ 'assets/images/main.jpg'|theme }}">
          </div>
          <div class="about-contentbox pull-left">
              <div class="underline"><h3>M A H L</h3></div>
              <div class="image visible-xs"><center><img class="img-responsive" src="{{ 'assets/images/main.jpg'|theme }}"></center></div>
              {% content 'home.htm' %}
          </div>
      </div>
</div>