[viewBag]
==
<div class="row">
      <div class="col-sm-12">
          <div class="about-img pull-left">
            <img class="img-responsive" src="{{ 'assets/images/picThaiCessna15-12b.jpg'|theme }}">
          </div>
          <div class="about-contentbox pull-left">
              <div class="underline"><h3>M A H L</h3></div>
              Minor Aircraft Holding Limited is the Authorized Sales Representative for Cessna aircraft in Thailand. Cessna Aircraft Company manufactures the most complete line of General Aviation aircraft in the world. From Citation business jets, to freight and passenger Caravans, to personal and small-business Single Engine Pistons, Cessna has an aircraft that fits your flight plan. We will help you find the right Cessna for your needs and get you up in the air. 
          </div>
      </div>
</div>