description = "Show focused aircraft list"

[viewBag]

[aircraftList focusAircraftList]
pageNumber = "{{ :page }}"
focusItem = 1
postsPerPage = 0
noPostsMessage = "No posts found"
sortOrder = "random"
categoryPage = "aircraft-subcategory"
postPage = "aircraft"
==
{% set posts = focusAircraftList.posts %}
<div class="container preview-aircraft">
    <div class="row">
        <div class="col-xs-12">
              <div class="underline"><h3>OUR AIRCRAFTS</h3></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div id="focused-aircrafts" class="flexslider">
                <ul class="list-aircraft slides">
                    {% for post in posts %}
                        <li>
                            <div class="list-aircraft-box">
                                <div class="image">
                                    <a href="{{ post.url }}"><img class="pic-aircraft" alt="{{ post.title }}" src="{{ post.content_image.path }}" ></a>
                                </div>
                                <div class="title">
                                    <a href="{{ post.url }}">{{ post.title }}</a>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>