description = "Show focused aircraft list"

[viewBag]

[aircraftList focusAircraftList]
pageNumber = "{{ :page }}"
focusItem = 1
postsPerPage = 4
noPostsMessage = "No posts found"
sortOrder = "random"
categoryPage = "aircraft-subcategory"
postPage = "aircraft"
==
{% set posts = focusAircraftList.posts %}
<div class="container preview-aircraft">
    <div class="row">
        <div class="col-xs-12">
              <div class="underline"><h3>OUR AIRCRAFTS</h3></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="list-aircraft row">
                {% for post in posts %}
                    <div class="col-sm-4 col-md-3">
                        <div class="list-aircraft-box">
                            <div class="image">
                                <a href="{{ post.url }}"><img class="pic-aircraft" alt="{{ post.title }}" src="{{ post.content_image.path }}" ></a>
                            </div>
                            <div class="title">
                                <a href="{{ post.url }}">{{ post.title }}</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>