[viewBag]
==
<div class="container">
    <div class="row">
        <div class="social col-xs-12">
           <a href="#"><img class="social_icon" src="{{ 'assets/images/social_icon/xicon-facebook.png'|theme }}" alt="Facebook" ></a>
        </div>
    </div>
    <div class="row">
        <div class="footer-text">
            <div class="address pull-left">
                <strong>M A H L - Minor Aircraft Holding Limited</strong><br/>
                16th Floor, Berli Jucker Building, 99 Soi Rubia<br/>
                Sukhumvit 42 Road, Phrakanong, Klongtoey<br/>
                Bangkok 10110 Thailand<br/>
            </div>
            <div class="telephone pull-left">
                Mail: <a href="mailto:salessupport@mjets.com">salessupport@mjets.com</a><br/>
                Tel: +(66) 2-034-5678<br/>
                Fax: +(66) 2-034-5677
            </div>
        </div>
        
    </div>
</div>