[viewBag]
==
<div class="container">
    <div class="row">
        <div class="social col-xs-12">
           <a href="#"><img class="social_icon" src="{{ 'assets/images/social_icon/xicon-facebook.png'|theme }}" alt="Facebook" ></a>
           <a href="#"><img class="social_icon" src="{{ 'assets/images/social_icon/xicon-twitter.png'|theme }}" alt="Twitter" ></a>
           <a href="#"><img class="social_icon" src="{{ 'assets/images/social_icon/xicon-line.png'|theme }}" alt="Line" ></a>
           <a href="#"><img class="social_icon" src="{{ 'assets/images/social_icon/xicon-linkedin.png'|theme }}" alt="Linkedin" ></a>
           <a href="#"><img class="social_icon" src="{{ 'assets/images/social_icon/xicon-mail.png'|theme }}" alt="mail" ></a>
        </div>
    </div>
    <div class="row">
        <div class="footer-text">
            <div class="address pull-left">
                <strong>M A H L - Minor Aircraft Holding Limited</strong><br/>
                16th Floor, Berli Jucker Building, 99 Soi Rubia<br/>
                Sukhumvit 42 Road, Phrakanong, Klongtoey<br/>
                Bangkok 10110 Thailand<br/>
            </div>
            <div class="telephone pull-left">
                Mobile: +(66) 85-484-8773 (Kae)<br/>
                Mobile: +(66) 81-937-1443 (Dana)<br/>
                Tel: +(66) 2-792-9400<br/>
                Fax: +(66) 2-792-9450
            </div>
        </div>
        
    </div>
</div>